{% extends 'base.html' %}
{% block body_content %}
<section class="login section-padding">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-5 col-md-12 col-xs-12">
            <div class="login-form login-area">
               <h3>
                  Login Now
               </h3>
                {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
                {% endif %}
               <form method="POST" role="form" class="login-form">
                   {% csrf_token %}
                  <div class="form-group">
                     <div class="input-icon">
                        <i class="lni-user"></i>
                        <input type="text" id="sender-email" class="form-control" name="username" placeholder="Username">
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="input-icon">
                        <i class="lni-lock"></i>
                        <input type="password" name="password" class="form-control" placeholder="Password">
                     </div>
                  </div>
                  <div class="form-group mb-3">
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="checkedall">
                        <label class="custom-control-label" for="checkedall">Keep me logged in</label>
                     </div>
                     <a class="forgetpassword" href="{% url 'password_reset' %}">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                     <input type="submit" value="login" class="btn btn-common log-btn">
                     <input type="hidden" name="next" value="{{ next }}" />
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}