<div id="hero-area">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-9 col-xs-12 text-center">
                        <div class="contents">
                            <h1 class="head-title">Welcome to The Largest <span class="year">Marketplace</span></h1>
                            <p>Buy and sell everything from used cars to mobile phones and computers, or search for property, jobs and more</p>
                            <div class="search-bar">
                                <div class="search-inner">
                                    <form class="search-form">
                                        <div class="form-group">
                                            <input type="text" name="customword" class="form-control" placeholder="What are you looking for?">
                                        </div>
                                        <div class="form-group inputwithicon">
                                            <div class="select">
                                                <select>
<option value="none">Locations</option>
<option value="none">New York</option>
<option value="none">California</option>
<option value="none">Washington</option>
<option value="none">Birmingham</option>
<option value="none">Chicago</option>
<option value="none">Phoenix</option>
</select>
                                            </div>
                                            <i class="lni-target"></i>
                                        </div>
                                        <div class="form-group inputwithicon">
                                            <div class="select">
                                                <select>
<option value="none">Select Catagory</option>
<option value="none">Jobs</option>
<option value="none">Electronics</option>
<option value="none">Mobile</option>
<option value="none">Training</option>
<option value="none">Pets</option>
<option value="none">Real Estate</option>
<option value="none">Services</option>
<option value="none">Training</option>
<option value="none">Vehicles</option>
</select>
                                            </div>
                                            <i class="lni-menu"></i>
                                        </div>
                                        <button class="btn btn-common" type="button"><i class="lni-search"></i> Search Now</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
